* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #121417;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  background-color: #252d37;
  border-radius: 16px;
  width: 375px;
}

#rating-screen {
  margin: 30px;
}

.star {
  background-color: #303a46;
  border-radius: 50%;
  padding: 15px;
}

h1 {
  margin-top: 25px;
  color: #ffffff;
}

p {
  color: #959eac;
  margin-top: 20px;
  line-height: 1.6;
}

.rating-scale {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.rate-btn {
  background-color: #303a46;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #7c8798;
  border: none;
  cursor: pointer;
}

.rate-btn:hover,
.rate-btn:active {
  color: #ffffff;
  background-color: #959eac;
  font-weight: 700;
  transition: 0.5s;
}

.rate-btn:focus {
  color: #ffffff;
  background-color: #fb7413;
}

#submit-btn {
  background-color: #fb7413;
  width: 100%;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 14px 12px;
  margin-top: 25px;
}

.submit-btn:hover {
  background-color: #ffffff;
  color: #fb7413;
}

.hide {
  visibility: hidden;
  display: none;
}
